<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-8 col-md-offset-2 mb-4">
    <div class="panel panel-default">
      
      <div class="panel-body">
        <div class="panel-heading"> コメント内容入力 </div>
        <div class="field">
          <p><%= form.text_area :content,class: "post-content" %></p>
        </div>
        <div class="actions">
          <center>
          <%= form.submit %>
           </center>
        </div>
      </div>
    </div>
  </div>
<% end %>
