<div class="card card-container">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-category">
      <p>メールアドレス(必須）</p>
      <%= form.text_field :email ,class: "form-input" %>
    </div>
  
    <div class="form-category">
      <p>パスワード(必須）</p>
      <%= form.password_field :password ,class: "form-input" %>
    </div>
    
    <div class="form-category">
      <p>パスワード確認用(必須）</p>
      <%= form.password_field :password_conformation ,class: "form-input" %>
    </div>
  
    <div class="form-category">
      <p>名前(必須）</p>
      <%= form.text_field :name ,class: "form-input" %>
    </div>
  
    <div class="form-category">
      <p>プロフィール画像</p>
      <%= form.file_field :image , id: :user_image %>
    </div>
  
    <div class="form-category">
      <%= form.submit "登録", class: "btn btn-primary btn-signin" %>
    </div>
  <% end %>
</div>