<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-md-8 col-md-offset-2 mb-4">
    <div class="panel panel-default">
      
      <div class="panel-body">
        <div class="text-center center-block">
          <% if post.image.present? %>
            <%= image_tag post.image.url,height: "150px" %>
          <% end %>
        </div>
      </div>

        <div class="panel-heading"> 画像選択 </div>
        <div class="field">
          <p><%= form.file_field :image, id: :post_image %></p>
        </div>
      
        <div class="panel-heading"> 内容入力 </div>
        <div class="field">
          <p><%= form.text_area :content,class: "post-content" %></p>
        </div>
        
        <div class="actions">
          <center>
          <%= form.submit %>
           </center>
        </div>

      </div>
      


    </div>
  </div>

<% end %>
