<% @posts.each do |post| %>
  <div class="col-xs-12 col-sm-4 mb-4">
    <div class="panel panel-primary">
      
      <div class="panel-heading">
        <% if post.user.image.present? %>
          <%= image_tag post.user.image.url,height:"20px" %>
        <% end %>
        <%=post.user.name %>さんがポスト！
      </div>

      <div class="panel-body">
        <% if post.image.present? %>
          <div class="text-center">
          <%= image_tag post.image.url,width: "80%" %>
          </div>
        <% end %>
          <p><%= post.content.truncate(22) %><p>
          <p><%= link_to '続きを読む',post_path(post.id)%></p>
      </div>

      <div class="panel-footer">
        <p>いいね！<%= post.favorites.all.count %>件　　コメント<%= post.comments.all.count %>件</p>
        <p class="text-right"><%= post.created_at %></p>
        <!--<p><%= link_to 'Show', post %>,-->
        <!--    <%= link_to 'Edit', edit_post_path(post) %>,-->
        <!--    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>-->
        </p>
      </div>
    </div>
  </div>
<% end %>





