<p id="notice"><%= notice %></p>

  <div class="col-md-8 col-md-offset-2 mb-4">
    <div class="panel panel-primary">
      
      <div class="panel-heading">
        <%=@post.user.name %>
      </div>

      <div class="panel-body">
        <% if @post.image.present? %>
          <div class="text-center">
          <%= image_tag @post.image.url,height: "300px" %>
          </div>
        <% end %>
          <p><%= @post.content %><p>
      </div>

      <div class="panel-footer">
        <p>いいね！<%= @post.favorites.all.count %>件</p>
        <% if @favorite.present? %>
          <%= link_to("いいねを解除する",favorite_path(id: @favorite.id), method: :delete) %>
        <% else %>
          <%= link_to("いいねする",favorites_path(post_id: @post.id), method: :post) %>
        <% end %>
        <p><%= @post.created_at %></p>
        <p><%= link_to 'Show', @post %>,
            <%= link_to 'Edit', edit_post_path(@post) %>,
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      
      <div class="panel-body">
        <%= form_with(model: @comment, local: true) do |form| %>
          <% if @comment.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        
              <ul>
              <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        
          <%= form.hidden_field :post_id, value: @post.id %>
        
          <div class="field">
            <p>たくさんコメントしてください！</p>
            <%= form.text_area :content %>
          </div>
          
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>コメント履歴</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.user.name %>さんは「<%= comment.content %>」って言ってるよ。(<%= comment.created_at%>)
              <td><%= link_to 'Show', comment %></td>
              <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
              <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
    
    </div>
  </div>